.container
    display: flex
    align-items: center
    justify-content: center

.artworkGrid
    width: 100vw
    min-height: 100vh

    display: grid
    gap: 1rem
    justify-content: center

    grid-template-areas: "a b c d" "a b c d" "l l h h" "g i h h" "g i h h" "k k n n" "j o p q" "j o p q" "s e f v" "s e f v" "r m t u" "r m t u"

    grid-template-rows: repeat(11, 30%)
    grid-template-columns: repeat(4, 20%)

@media (max-width: 1150px)
    .artworkGrid
        grid-template-areas: "a b" "a b" "c d" "c d" "l l" "h h" "h h" "g i" "g i" "k k" "n n" "j o" "j o" "p q" "p q" "s e" "s e" "f v" "f v" "r m" "r m" "t u" "t u"

        grid-template-rows: repeat(22, 50%)
        grid-template-columns: repeat(2, 50%)

@media (max-width: 920px)
    .artworkGrid
        grid-template-areas: "a b" "a b" "c d" "c d" "l l" "h h" "h h" "g i" "g i" "k k" "n n" "j o" "j o" "p q" "p q" "s e" "s e" "f v" "f v" "r m" "r m" "t u" "t u"

        grid-template-rows: repeat(22, 40%)
        grid-template-columns: repeat(2, 50%)

@media (max-width: 620px)
    .artworkGrid
        grid-template-areas: "a b" "a b" "c d" "c d" "l l" "h h" "h h" "g i" "g i" "k k" "n n" "j o" "j o" "p q" "p q" "s e" "s e" "f v" "f v" "r m" "r m" "t u" "t u"

        grid-template-rows: repeat(22, 25%)
        grid-template-columns: repeat(2, 50%)

.card
    height: 100%
    width: 100% !important
    background-color: transparent
    position: relative

.card .image
    object-fit: cover
    height: 100%
    width: 100% !important
    position: relative !important

.card:nth-child(1)
    grid-area: a

.card:nth-child(2)
    grid-area: b

.card:nth-child(3)
    grid-area: c

.card:nth-child(4)
    grid-area: d

.card:nth-child(5)
    grid-area: e

.card:nth-child(6)
    grid-area: f

.card:nth-child(7)
    grid-area: g

.card:nth-child(8)
    grid-area: h

.card:nth-child(9)
    grid-area: i

.card:nth-child(10)
    grid-area: j

.card:nth-child(11)
    grid-area: k

.card:nth-child(12)
    grid-area: l

.card:nth-child(13)
    grid-area: m

.card:nth-child(14)
    grid-area: n

.card:nth-child(15)
    grid-area: o

.card:nth-child(16)
    grid-area: p

.card:nth-child(17)
    grid-area: q

.card:nth-child(18)
    grid-area: r

.card:nth-child(19)
    grid-area: s

.card:nth-child(20)
    grid-area: t

.card:nth-child(21)
    grid-area: u

.card:nth-child(22)
    grid-area: v
